<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <form [formGroup]="form" (ngSubmit)="createPost()">
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Post Title"
              formControlName="title"
            />
            <ul *ngIf="form.controls.title.dirty && form.controls.title.invalid">
              <li *ngIf="form.controls.title.errors?.['required']">
                請輸入標題
              </li>
            </ul>
          </fieldset>
          <fieldset class="form-group">
            <textarea
              class="form-control"
              rows="3"
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </fieldset>
          <fieldset class="form-group">
            <textarea
              class="form-control"
              rows="8"
              placeholder="Post body"
              formControlName="body"
            ></textarea>
            <ul *ngIf="form.controls.body.dirty && form.controls.body.invalid">
              <li *ngIf="form.controls.body.errors?.['required']">
                請輸入內文
              </li>
              <li *ngIf="form.controls.body.errors?.['minlength']">
                內文至少
                {{ form.controls.body.errors?.['minlength']?.['requiredLength'] }}
                個字
              </li>
            </ul>
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Enter tags"
              #tag
              (keyup.enter)="addTag(tag.value); tag.value=''"
              (keydown.enter)="$event.preventDefault()"
            />
            <div class="tag-list">
              <span class="label label-pill label-default"
                    *ngFor="let tag of form.controls.tags.controls; let i=index"
              >
                <i class="ion-close-round" (click)="removeTag(i)"></i> {{tag.value}}</span
              >
            </div>
          </fieldset>
          <button
            type="submit"
            class="btn btn-lg btn-primary pull-xs-right"
            [disabled]="form.invalid"
          >
            Create Post
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
